<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TodoList</title>

    <link rel="stylesheet" href="/main.css">
</head>

<body>
    <% todoObject.forEach( (todo)=> {%>
    <div> <%= todo.todo %></div>


    <a href="/edit/<%=todo._id%>">Edit</a>
    <a href="/delete/<%=todo._id%>">Delete</a>


    <% }) %>

    <div>
        <form action="/createtodo" method="post">
            <input type="text" name="todo" id="">
            <input type="text" name="author" id="">
            <button type="submit">Post todo</button>
        </form>
    </div>
</body>

</html>