<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TodoList</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/main.css">
    <script src="https://kit.fontawesome.com/9d5595f4e5.js" crossorigin="anonymous"></script>
</head>

<body class="landingpage">

    <div class="container">

        <div class="row">
            <div class="col-12">
                <h1>What todo?</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-8 p-3">
                <div class="row justify-content-center">
                    <div class="col-10">
                        <% todoObject.forEach( (todo)=> {%>
                        <div class="todoinput">
                            <span class="mt-3"> <%= todo.todo %> </span>
                            <span class="datetext dates"><%= todo.date %></span>
                            <span class="icons">
                                <a class="editbtn" href="/update/<%=todo._id%>"><span class="icon">edit</span></a>
                                <a href="/delete/<%=todo._id%>"><span class="icon">Delete</span></a>
                            </span>
                        </div>
                        <br>
                        <% }) %>
                    </div>
                </div>

                <div>
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <div class="mt-3">
                                <form action="/createtodo" method="post">
                                    <div class="row justify-content-around">
                                        <input class="todo col-6 p-1" type="text" name="todo" id="">
                                        <input class="col-3 p-1" type="date" name="date" id="">
                                        <button class="btn btn-outline-secondary col-2 p-1" type="submit">Post</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>