.editpage {
  background: #dddddd;
  text-align: center;
  margin-top: 5rem; }

.landingpage {
  background: #dddddd;
  margin-top: 5rem; }
  .landingpage h1 {
    text-align: center; }
  .landingpage .dates {
    position: absolute;
    right: 60px; }
  .landingpage .datetext {
    font-weight: bold;
    font-size: 10pt;
    margin-top: 4px; }
  .landingpage .icons {
    position: absolute;
    right: 13px; }
  .landingpage .icon {
    color: green;
    font-size: 12pt; }
